


<h1> Add to the Hero's Journey! </h1>

<form method="POST" action="/movies">
<br></br>

	Movie: <input type="text" name="name"><br></br>
	Hero's Journey: <textarea name="hero_journey"></textarea><br></br>
	<input type="submit">

</form>