<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<html>
<head>
  <header><img src="images/mcu.png" class="img-responsive main-image" style="width:1000px"></header>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: grey;
}

.topnav a.active {
  background-color: #F91010;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  
  <% if logged_in? %>
  <a href="/logout">Log Out</a>
  <a href="/movies">Welcome <%= current_hero.name %></a>
  <% else %>
  <a href="/heroes/signup"> Sign Up </a>
  <% end %>
</div>

<div style="padding-left:16px">
  <h2>Marvel Movie Girlfriend Helper</h2>
  <p>The Marvel Cinematic Universe (MCU) is an amazing feat of Blockbuster porportions! First of all it's a media franchise and shared universe centered on a series of superhero films, independently produced by Marvel Studios and based on characters that appear in.. you guessed it Marvel Comics. Now for the true believers there's much more than the films that come out every year. There are tie-in comics, shorts, tv shows & common lore. The shared universe, much like the original Marvel Universe in comic books, was established by crossing over common plot elements, settings, cast, and characters. Which brings us to the purpose of our application. To help you chronologically follow the 20+ epic so far, journaling each character, each movie & plot twist along the way!</p>
</div>

    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Marvel Movie GF Helper</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
